# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env

# Raspberry Pi / OS specific
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/

# Log files
*.log

# Any other files/folders
